# common
*.dump
build/
target/
dist/
*~

# C/C++
*.o
*.so

# python
__pycache__/
*.py[cod]
*$py.class
.venv/
sdist/
*.egg-info/

# java
*.class
*.jar
*.war

# clojure
.nrepl-port

# scala
.ensime
.ensime_cache/

# lisp
*.asd

# erlang
*.beam

# gtags
GPATH
GRTAGS
GSYMS
GTAGS

# etc
.cache